<p id="notice"><%= notice %></p>

<h1>Contas A Pagars</h1>

<table>
  <thead>
    <tr>
      <th>Emissor</th>
      <th>Dataemissao</th>
      <th>Valor</th>
      <th>Descricaoconta</th>
      <th>Valormulta</th>
      <th>Permitepagaraposvencimento</th>
      <th>Codigobarras</th>
      <th>Anexoconta</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contas_a_pagars.each do |contas_a_pagar| %>
      <tr>
        <td><%= contas_a_pagar.emissor %></td>
        <td><%= contas_a_pagar.dataEmissao %></td>
        <td><%= contas_a_pagar.valor %></td>
        <td><%= contas_a_pagar.descricaoConta %></td>
        <td><%= contas_a_pagar.valorMulta %></td>
        <td><%= contas_a_pagar.PermitePagarAposVencimento %></td>
        <td><%= contas_a_pagar.codigoBarras %></td>
        <td><%= contas_a_pagar.anexoConta %></td>
        <td><%= link_to 'Show', contas_a_pagar %></td>
        <td><%= link_to 'Edit', edit_contas_a_pagar_path(contas_a_pagar) %></td>
        <td><%= link_to 'Destroy', contas_a_pagar, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contas A Pagar', new_contas_a_pagar_path %>
